<div class="grey lighten-3">

    <section class="products-section">

        <div class="segmentation">
            <h4 class="green-text" ng-click="toggleFullScreen();">Bien choisir :</h4>

            <div class="criteria row">
                <div ng-repeat="criterion in criteria track by $index" class="criterion animate-repeat col s12">
                    <div class="card"
                         ng-class="{clickable: criterion.selectedSegment}">

                        <div class="card-content">

                            <div class="criterion-title">
                                {{criterion.description}}
                                <div class="icon-create" ng-show="criterion.selectedSegment"
                                     ng-click="resetSegments(criterion, $index);"></div>
                            </div>

                            <div class="selected-segment ng-animate text-grey text-lighten-5 green"
                                 ng-show="criterion.selectedSegment" ng-click="resetSegments(criterion, $index);">
                                {{criterion.selectedSegment.description}}&nbsp;
                            </div>

                            <div class="segments" ng-hide="criterion.selectedSegment">
                                <div class="card segment" ng-repeat="segment in criterion.segment"
                                     ng-click="filterSegment(criterion, segment);">

                                    <div class="card-image segment-image image-ratio-preserved"
                                         ng-class="{hide: !segment.image}">
                                         <img ng-src="{{'images/' + segment.image}}">
                                    </div>

                                    <div class="segment-info">
                                        <div class="segment-description"
                                             ng-if="segment.description"
                                             title="{{segment.description}}">

                                            <div class="segment-description-mask">&nbsp;</div>
                                            {{segment.description}}
                                        </div>

                                        <div class="segment-button waves-effect waves-light btn grey-text text-lighten-5 green"
                                             title="{{segment.description}}">
                                            {{segment.description}}
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="content-bloc">

            <div class="col s12">
                <h4 class="green-text">{{filteredContents.length}} Articles correspondants :</h4>

                <div class="row">
                    <ul class="contents-list">
                        <li ng-repeat="content in filteredContents"
                            class="animate-repeat col s4 product-container shadowed">

                            <div class="card product" ng-class="content.modelType">
                                <div class="card-image product-image image-ratio-preserved-inside">

                                    <img ng-src="{{'images/' + content.image}}">
                                </div>
                                <div class="card-content">
                                    <div class="title" title="{{content.name}}">
                                        <div class="title-mask">&nbsp;</div>
                                        {{content.name}}
                                    </div>
                                    <div class="subtitle grey-text text-lighten-1" title="{{content.id}}">
                                        <div class="subtitle-mask">&nbsp;</div>
                                        {{content.id}}
                                    </div>
                                    <div class="price orange-text darken-4-text">
                                        {{content.price ? content.price + '€' : '&nbsp;'}}
                                    </div>
                                </div>
                            </div>

                            <div class="led-image" ng-if="hasLed(content.id)">
                                <img src="images/led.png"/>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
</div>

